.gif{
    width: 25%;
  }
  .front{
  background-color: #F6D7A7;
  background-image: url(images/nature.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color:black;
  }
  
  .heading{
    color: #172774;
    font-size: 78px;
    background-color: #F9F3DF;
    margin-left: 25%;
    margin-right: 25%;
    /* line-height: 2; */
  }
  
  body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff;
    height: 100%;
    text-align: center;
    font-size: 18px;
  }
  
  
  .content{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
    color:black;
    /* background-color: cornsilk; */
    line-height: 2;
    background-color: #BFD8B8;
    opacity: 0.75;
  

  }
  .subhead{
    color:#FFE3E3 ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
    line-height: 3;
  }

  .btn{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 20%;
        border: none;
        background-color: #FFEDED;
        padding: 14px 28px;
        font-size: 40px;
        cursor: pointer;
        text-align: center; 
        float: left;
        margin-left: 15%;
        margin-bottom: 40px;
}

.btnn{
    display: block;
        margin-right: auto;
        margin-left: auto;
        width: 26%;
        border: none;
        background-color: #FFEDED;
        padding: 14px 28px;
        font-size: 40px;
        cursor: pointer;
        text-align: center; 
        float: right;
        margin-right: 15%;

}