.heading{
    color: brown;
    font-size: 65px;
    text-align: center;
    font-family: 'Permanent Marker';
}

.steps{
    text-align: left;
    font-size: 25px;
    font-family: 'Zen Kurenaido';
    line-height: 1.4;
}
body{
background-color: #FFE699;

}

.btn1{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 40px;
    cursor: pointer;
    text-align: center; 
    float: left;
    margin-left: 15%;
}

.btnn1{
    display: block;
        margin-right: auto;
        margin-left: auto;
        width: 24%;
        border: none;
        background-color: #2304aa;
        padding: 14px 24px;
        font-size: 40px;
        cursor: pointer;
        text-align: center; 
        float: right;
        margin-right: 15%;

}